<header class="<%= (pageId === 'home') ? 'l-header p-header' : 'l-header p-header p-header--sub' %>">
  <div class="l-container p-header__container">
    <div class="p-header__inner">
      <% if (pageId==='home' ) { %>
        <h1 class="p-header__logo c-logo">
          <%= jsonData.siteInfo.siteName; %>
        </h1>
        <% } else { %>
          <p class="p-header__logo c-logo"><a href="<%= jsonData.pages.home.slug; %>">
              <%= jsonData.siteInfo.siteName; %>
            </a></p>
          <% } %>

            <nav class="p-header__nav p-gnav">
              <ul class="p-gnav__items">
                <% for (let page in jsonData.pages) { %>
                  <% if (page===pageId) { %>
                    <li class="is-current">
                      <%= jsonData.pages[page].title %>
                    </li>
                    <% } else { %>
                      <li><a href="<%= jsonData.pages[page].slug %>">
                          <%= jsonData.pages[page].title %>
                        </a></li>
                      <% } %>
                        <% } %>
              </ul><!-- /.p-gnav__items -->
            </nav><!-- /.p-header__nav p-gnav -->
    </div><!-- /.p-header__inner -->
  </div><!-- /.l-container p-header__container -->
</header><!-- /.l-header p-header -->